<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <div class="container">

    <div class="header"></div>

    <div class="main">

      <button [routerLink]="['/users']">Register</button>
      <button [routerLink]="['/login']">Log In</button>
      <button [routerLink]="['/game']">New Game</button>

      <router-outlet></router-outlet>

    </div>

    <div class="footer"></div>

  </div>
</body>
</html>
