<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <div class="container">

    <div class="header"></div>

    <div class="main">
      <div class="game" *ngIf="user.username.length > 2">user logged in</div>
      <div *ngIf="user.username.length < 3">User not logged in

        <div class="login">
          <h1 class="login__title">Log In to Play</h1>
          <p>{{user|json}}</p>
          <form class="login__form">
            <p class="login__item">Username: <input type="text" name="username" id="username" class="login__input"></p>
            <p class="login__item">PIN: <input type="number" name="pin" id="pin" class="login__input"></p>
            <button type="submit" class="login__submit submit" (click)="register()">Log In</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer"></div>

  </div>
</body>
</html>
