$title-stack: 'Shojumaru', 'Times New Roman', serif;
$subtitle-stack: 'Expletus Sans', 'Segoe UI', Verdana, sans-serif;
$body-stack: 'Roboto', 'Segoe UI', Verdana, sans-serif;

$light-white: #f0f0f0;
$white: #f6f8fa;
$gray: #b9b9b9;
$black: #010D26;
$gold: #F2D479;

$default-shadow: .5em .5em 1em -1em $black;
$default-border: .02em solid $gray;