<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Tasks</title>
</head>
<body>
  <div class="container">

    <h1 class="title">Restful Tasks API</h1>

    <button (click)="getTasksFromService()">GET ALL TASKS</button>
    <div class="task-list" *ngIf='tasks.length > 0'>
      <div class="task-item" *ngFor='let task of tasks'>
        <p class="title">{{task.title}}</p>
        <button class='show' (click)="getTaskDetails(task._id)">Show</button>
      </div>
    </div>

    <div class="task-details" *ngIf='oneTask'>
      <h3>{{oneTask.title}}</h3>
      <p>{{oneTask.description}}</p>
    </div>

  </div>
</body>
</html>
