html, body {
  min-width: 100%;
  min-height: 100%;
}
.container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.form-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
