* {
	margin: 0;
	padding: 0;
}
html {
	min-height: 100%;
	background-color: $white;
}

body {
	height: 100%;
}

button {
	padding: .5em;
}

app-user-reg {
	height: 100%;
}

app-game-logic {
	width: 100%;
}

.container {
	height: 100%;
}

.main {
	height: 80%;
}